.video-view{
  width: 100%;
  height: 95%;

  .title-class{
    width: 100%;
    height: 8%;

    .line{
      text-align: center;
      width: 95%;
      height: 1px;
      background-image: linear-gradient(to right, greenYellow,red, #fefff6);
    }
    .l-text{
      text-align: left;color: white;font-size: 25px;margin-left: 40px;
    }
    .h-text{
      text-align: center;color: white;font-size: 30px
    }
    .r-text{
      text-align: right;color: white;font-size: 25px;margin-right: 40px;
    }
    h3 {
      margin-block-end: 0em;
    }
  }
  .video-class{
    width: 50%;
    height: 60%;
    margin: 20px 25%;
  }
  .btn-class{
    width: 50%;
    text-align: left;
    height: 30%;
    margin: 10px 25%;
    padding-left: 10px;
    font-size: 30px;

    .el-button{
      font-size: 22px;
      margin:10px;
    }
  }
}

.VideoDiv {
  width: 100%;
  height: 100%;
  border: 1px solid darkcyan;
  background: black;
}
.videoContent{
  width: 960px;
  height: 610px
}
